@import './_variables';

.stats {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  padding: 0px 30px 30px 30px;
  // background-color: $color-gray;
}
.stats__container {
  flex-direction: column;
  flex: 1;
  // background-color: #1e2023;
  border-radius: 5px;
  // border: 1px solid #42494d;
}

.stats__content {
  font-size: 13px;
}

.stats__header {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #42494d;
  padding: 20px 20px 10px 20px;
  font-weight: 500;
}
.stats-lists {
  height: 52px;
  border-top: 1px solid #42494d;
  padding: 4px 20px 0px 20px;
}
.row {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 24px;
  align-items: center;
  cursor: pointer;
}
.row:hover {
  background-color: $color-gray;
}

.row__intro > h1 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 2px;
}

.row__intro > p {
  font-size: 12px;
}

.row__numbers {
  text-align: end;
  font-weight: 500;
}

.row__price {
  padding-bottom: 4px;
}

.row__percentage {
  color: $color-gray;
}
.row__percentage-positive {
  color: $color-blue;
}
.row__percentage-negative {
  color: $color-red;
}
