@import '../../sass/_variables.scss';
@import '../../sass/_mixins.scss';

.portfolio {
  gap: 2rem;
}

@include --viewportMd {
  .portfolio {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
  .portfolio__pie-chart {
    max-width: 500px;
    height: auto;
  }
  .portfolio__stocks {
    flex-grow: 0.6;
  }
}
@include --viewportLg {
  .portfolio__pie-chart {
    max-width: 600px;
    height: auto;
  }
  .portfolio__stocks {
    flex-grow: 0.4;
  }
}
// Portfolio Pie Chart
.portfolio__pie-chart {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}

.portfolio__stocks {
  @include --box-shadow;
}
.portfolio__stocks__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #42494d;
  padding: 20px 20px 10px 20px;
  font-weight: 500;
}
.portfolio__stocks__list {
  font-size: $size-small;
}
.portfolio__stock {
  .portfolio__stock__container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 24px;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: $color-gray;
    }

    .intro {
      display: flex;
      flex-direction: row;
      .company-logo {
        margin-right: 10px;
      }
      h1 {
        font-size: $size-large;
        font-weight: bold;
        padding-bottom: 2px;
      }
      p {
        font-size: 12px;
      }
    }

    .numbers {
      text-align: end;
      font-weight: 500;
    }

    .current-price {
      padding-bottom: 4px;
    }

    .percentage {
      color: $color-gray;
    }
    .percentage--positive {
      color: $color-blue;
    }
    .percentage--negative {
      color: $color-red;
    }
  }
}
// @include --viewportMd {
//   .lists {
//     flex: 0.3;
//   }
// }

// AddPortfolioStock
.add-stock__modal {
  display: flex;
  flex-flow: column;
  .add-stock__form {
    display: flex;
    flex-flow: column;
    gap: 1rem;
  }
  .close-button {
    cursor: pointer;
    align-self: flex-end;
  }
}

// modal
.myStocks-modal {
  display: flex;
  flex-direction: column;
  .close-button {
    cursor: pointer;
    align-self: flex-end;
  }
  .myStocks-modal__content {
    display: flex;
    flex-flow: column;
    align-items: center;
    .header {
    }

    .shares {
      display: flex;
      flex-flow: row;
      align-self: center;
      align-items: center;
      .shares__current {
        display: flex;
        flex-flow: column;

        text-align: center;
        padding: 0 10px;
      }
      .shares__update {
        cursor: pointer;
        &:hover {
          color: $color-darkgray;
        }
      }
    }
  }
}

// Remove from portfolio
.remove-from-portfolio {
  align-self: flex-end;
}
.remove-from-portfolio__modal {
  display: flex;
  flex-direction: column;
  .close-button {
    cursor: pointer;
    align-self: flex-end;
  }
  .modal__content {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    .selection-buttons {
      align-self: flex-end;
    }
  }
}
