@import './sass/_variables.scss';
@import './sass/_mixins.scss';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 0 $header-height 0;
  font-family: $body-font;
  font-size: $size-medium;
  background-color: #fff;
  color: $color-text;
}

h1,
h2,
h3,
h4 {
  color: $color-text;
  font-weight: $font-semi-bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.app__header {
}
.app__container {
  display: flex;
  flex-flow: column;
  // padding: 20px;
  // width: 80%;
  gap: 40px;

  color: $color-text;
  // z-index: 50;
  .app__loading-screen {
    font-family: $quote-font;
    background-color: #3456ff;
    background-image: linear-gradient(180deg, #3456ff 25%, #f8f8fa 100%);
    // overflow: hidden;
    height: calc(100vh - 56px);
    @include --viewportMd {
      height: calc(100vh - 50px);
    }
    /* center the blockquote in the page */
    .blockquote-wrapper {
      display: flex;
      padding: 0 20px;
    }

    /* Blockquote main style */
    .blockquote {
      position: relative;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      color: #ffffff;
      padding: 30px 0;
      width: 100%;
      max-width: 500px;
      z-index: 1;
      margin: 80px auto;
      align-self: center;
      border-top: solid 1px;
      border-bottom: solid 1px;
    }

    /* Blockquote header */
    .blockquote h1 {
      position: relative;
      color: #ffffff;
      font-size: 40px;
      font-weight: 800;
      line-height: 1;
      margin: 0;
    }

    /* Blockquote right double quotes */
    .blockquote:after {
      position: absolute;
      content: '”';
      color: rgba(255, 255, 255, 1);
      font-size: 10rem;
      line-height: 0;
      bottom: -43px;
      right: 30px;
    }

    /* increase header size after 600px */
    @media all and (min-width: 600px) {
      .blockquote h1 {
        font-size: 60px;
      }
    }

    /* Blockquote subheader */
    .blockquote h4 {
      position: relative;
      color: #292a2b;
      font-size: 1.4rem;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      padding-top: 20px;
      z-index: 1;
    }
  }
}

@include --viewportMd {
  .app__container {
    margin: $header-height auto;
    width: 90%;
    // justify-content: center;
  }
}

@include --viewportLg {
  .app__container {
    width: 80%;
    margin: $header-height auto;
  }
}
