@import './sass/_variables.scss';
@import './sass/_mixins.scss';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 0 $header-height 0;
  font-family: $body-font;
  font-size: $size-medium;
  background-color: #fff;
  color: $color-text;
}

h1,
h2,
h3,
h4 {
  color: $color-text;
  font-weight: $font-semi-bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
